* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

window {
    background: radial-gradient(circle at center, #11111b 0%, #181825 100%);
}

button {
    color: #cdd6f4;
    background: rgba(30, 30, 46, 0.7);
    border: 2px solid #45475a;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    min-width: 120px;
    min-height: 120px;
    transition: all 0.2s ease;
    background-clip: border-box;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.3);
}

button:hover {
    color: #f5e0dc;
    background: rgba(49, 50, 68, 0.8);
    border: 2px solid #cba6f7;
    box-shadow: 0 0 10px 0 rgba(203, 166, 247, 0.5);
}

button:focus {
    color: #f5e0dc;
    background: #45475a;
    border: 2px solid #cba6f7;
    box-shadow: 0 0 10px 0 rgba(203, 166, 247, 0.5);
}

#poweroff {
    border: 2px solid #f38ba8;
}

#poweroff:hover, #poweroff:focus {
    border: 2px solid #f38ba8;
    box-shadow: 0 0 10px 0 rgba(243, 139, 168, 0.5);
}

#reboot {
    border: 2px solid #fab387;
}

#reboot:hover, #reboot:focus {
    border: 2px solid #fab387;
    box-shadow: 0 0 10px 0 rgba(250, 179, 135, 0.5);
}

#suspend {
    border: 2px solid #a6e3a1;
}

#suspend:hover, #suspend:focus {
    border: 2px solid #a6e3a1;
    box-shadow: 0 0 10px 0 rgba(166, 227, 161, 0.5);
}

#logout {
    border: 2px solid #89b4fa;
}

#logout:hover, #logout:focus {
    border: 2px solid #89b4fa;
    box-shadow: 0 0 10px 0 rgba(137, 180, 250, 0.5);
}