name: Publish Docs

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install MkDocs Material
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs-material
      - name: Build and Deploy
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          mkdocs gh-deploy --force
