name: Lint Dotfiles

on:
  push:
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Super-Linter
        uses: super-linter/super-linter@v5
        env:
          VALIDATE_ALL_CODEBASE: true
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_BASH: true
          VALIDATE_SHELL_SHFMT: true
          VALIDATE_JSON: true
          VALIDATE_JSONC: true
          VALIDATE_YAML: true
          VALIDATE_MARKDOWN: true
          VALIDATE_TOML: true
